<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[CONSOLE] %d [%-5p] %C - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>